<main>

        <div>
           <img src="./img/Mobile login-amico.png" alt="">
        </div>
        

        <aside>
      

            <div>
                
                <form  class="form-main" action="/add" method="post">
                    <label class="label-form-main" for="">Faça um pedido!</label>
                    <label class="label2-form-main" for="">Dados do cliente:</label>
                    <input id="input1-form-main" type="text" name="nome" placeholder=" Nome" required>
                    <input id="input2-form-main" type="text" name="email" placeholder=" E-mail" required>
                    <input id="input2-form-main" type="number" name="telefone" placeholder=" Telefone" required>
                    <input id="input3-form-main" type="text" name="assunto" placeholder=" Assunto" required>
                    <textarea name="descricao" id="input4-form-main" cols="30" rows="10" placeholder=" Descrição"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>    

        </aside>
    
    </main>
