
<main>
        <div>
           <img src="./img/Mobile login-rafiki.png" alt="">
        </div>

<aside>
    <div>
        <form action="/login" method="POST">
    
            <label class="label-form-main" for="email">Entrar</label>
            <input id="input1-form-main" type="text" name="email" placeholder="  E-mail">
            <input id="input2-form-main" type="password" name="senha" placeholder="  Senha">
            
            <button type="submit" value="entrar"><a href="/pedidos">Entrar</a></button>
        </form>
</aside>

</main>
    
</div>
