<main>
        <div>
           <img src="./img/Sign up-rafiki.png" alt="">
        </div>
        <aside>
            <div>
    <form action="/register" method="POST">
    
                    <label class="label-form-main" for="">Cadastrar</label>
                    <input id="input1-form-main" type="text" name="nome" placeholder="  Nome" required>
                    <input id="input2-form-main" type="text" name="email" placeholder="  E-mail" required>
                    <input id="input3-form-main" type="password" name="senha" placeholder="  Senha" required>
                    <input id="input4-form-main" type="password" name="confirmpassword" placeholder="  Confirmar senha" required>
    
    <button type="submit" value="Cadastrar">Cadastrar</button>
    
    </form>
    </div>
    </aside>

</main>