<main >
        <img id="img1-main" src="./img/Retângulo 11.svg" alt="">
        <p id="p1">A Bay Consultoria Contábil trabalha desenvolvendo estudos personalizados de acordo com o cliente com o intuito de transformar  e alavancar o desempenho das empresas.                       
        </p>
        <p id="p2">
            A assessoria auxilia na eficácia da gestão empresarial por meio de análise do negócio, planejamento de futuro e visando oportunidades de crescimento.
        </p>

        <h1>Conheça nossos serviços</h1>
        <img id="img2-main" src="./img/servicos.png" alt="">

        <div class="card">
            <div id="card1">
                <h2>Contábil</h2>
                <p>Responsável pelos livros fiscais da empresa, registrando as movimentações financeiras, preenchendo demonstrativos e outros documentos importantes e fazendo controles essenciais.
                </p>
                <img src="./img/contabilLOGO.png" alt="">
            </div>
            <div id="card2">
                <h2>Tributário</h2>
                <p>Sistema que estabelece a cobrança de impostos de cada CNPJ, de acordo com o montante da arrecadação.
                </p>
                <img src="./img/tributarioLOGO.png" alt="">
            </div>
            <div id="card3">
                <h2>Imposto de Renda</h2>
                <p>Tributo federal sobre a renda (o quanto você ganha) e acompanha a sua evolução
                </p>
                <img src="./img/impostoLOGO.png" alt="">
            </div>
         </div>

         <div class="card2">
            <div id="card4"><h2>Fiscal
                </h2>
                <p>Controle e apuração de todos os fatores geradores de impostos e garantindo que a cobrança dos tributos seja feita de acordo com a lei.
                </p>
                <img src="./img/fiscalLOGO.png" alt="">
            </div>
            <div id="card5">
                <h2>Logistica</h2>
                <p>Responsável por toda a movimentação, armazenamento, transponte e entrega. Garantindo organização e condições ideais para o cliente final.</p>
                <img src="./img/logisticaLOGO.png" alt="">
            </div>
         </div>

         <button type="submit"><a class="pedido" href="/contato">Faça seu pedido</a></button>
     </main>

